In [1]:
import pandas as pd
produtos = r'C:\Users\leona\Documents\GitHub\Automacao\produtos.csv'
base = pd.read_csv(produtos)
base.head()

,codigo,marca,tipo,categoria,preco_unitario,custo,obs
0,MOLO000251,Logitech,Mouse,1,25.95,6.5,NaN
1,MOLO000192,Logitech,Mouse,2,19.95,5.0,NaN
2,CAHA000251,Hashtag,Camisa,1,25.00,11.0,NaN
3,CAHA000252,Hashtag,Camisa,2,25.00,11.0,Conferir estoque
4,MOMU000111,Multilaser,Mouse,1,11.99,3.4,NaN